.slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  cursor: pointer;
  position: relative;
}

/* increase hitbox size */
.slider::before {
  content: "";
  position: absolute;
  top: -20px;
  height: 44px; /* WCAG min hit box */
  width: 100%;
}

/** Slider Thumb **/

/* WebKit (Chrome, Safari) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 9999px;
  background: #ffffff;
  margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* Firefox */
.slider::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 99999px;
  background: #ffffff;
}

/* IE */
.slider::-ms-thumb {
  height: 24px;
  width: 24px;
  border-radius: 99999px;
  background: #ffffff;
}

/* Track */

/* WebKit (Chrome, Safari) */
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
}

/* Firefox */
.slider::-moz-range-track {
  width: 100%;
  height: 2px;
}

/* IE */
.slider::-ms-track {
  width: 100%;
  height: 2px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: #c4a46a;
}
.slider::-ms-fill-upper {
  background: rgba(196, 164, 106, 0.3);
}
