@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --tv-color-platform-background: #140f34;
  --tv-color-pane-background: #140f34;
  --tv-color-toolbar-toggle-button-background-active: #201b43;
  --tv-color-toolbar-toggle-button-background-active-hover: #201b43;
  --tv-color-toolbar-button-text: #b0aadc;
  --tv-color-toolbar-button-text-hover: #462adf;
  --tv-color-toolbar-button-text-active: #462adf;
  --tv-color-toolbar-button-text-active-hover: #462adf;
  --tv-color-toolbar-button-background-active: #201b43;
  --tv-color-toolbar-button-background-hover: #201b43;
  --tv-color-toolbar-button-background-expanded: #201b43;
  --tv-toolbar-opened-element-hover-border-radius: 6px;

  --tv-color-popup-background: #201b43;
  --tv-color-popup-element-background-active: #140f34;
  --tv-color-popup-element-background-hover: #140f34;
  --tv-color-popup-element-toolbox-background-hover: #201b43;
  --tv-color-popup-element-toolbox-background-active-hover: #201b43;
}

// POPUP SETTINGS CONFIG
html.theme-dark .title-BZKENkhT {
  color: #fff;
}

html.theme-dark .dialog-aRAWUDhF {
  background: #201b43;
}

html.theme-dark .withSidebar-F0WBLDV5 .content-F0WBLDV5,
html.theme-dark .container-nGEmjtaX,
html.theme-dark .footer-PhMf7PhQ {
  border-color: #140f34;
}

html.theme-dark .color-brand-D4RPB3ZC.variant-primary-D4RPB3ZC {
  --ui-lib-button-default-color-border: #140f34 !important;
  --ui-lib-button-default-color-bg: #140f34 !important;
  --ui-lib-button-default-color-content: #fff !important;
}

html.theme-dark .color-brand-D4RPB3ZC.variant-secondary-D4RPB3ZC {
  --ui-lib-button-default-color-border: #b0aadc !important;
  --ui-lib-button-default-color-content: #b0aadc !important;
  --ui-lib-button-default-color-bg: transparent !important;
}

html.theme-dark .container-WDZ0PRNh {
  --ui-lib-intent-color: #b0aadc !important;
  --ui-lib-control-default-slot-color: #b0aadc !important;
}

html.theme-dark .accessible-nGEmjtaX.active-nGEmjtaX {
  background-color: #282750;
}

@media (any-hover: hover) {
  html.theme-dark .accessible-nGEmjtaX:hover {
    background-color: #282750;
  }
}
