@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');

:root {
	--screens-md: 1200px;
	--screens-lg: 1600px;

	--sidebar-open: 206px;
	--sidebar-closed: 90px;

	--sidebar-minHeight: 800px;
	--sidebar-selectedIconGradient: linear-gradient(180deg, #ffbc00 0%, #ff8e00 100%);
}

#app {
	overflow: auto;
}

html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	color: inherit;
	box-sizing: border-box;
}

button,
input,
textarea {
	&:focus {
		outline: none;
	}
}
input {
	background: transparent;
}

@import './custom';
