@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	h3 {
		@apply text-3xl;
	}

	h4 {
		@apply text-2xl;
	}

	h5 {
		@apply text-xl;
	}

	h6 {
		@apply text-lg;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-title;
		@apply font-bold;
	}

	p {
		@apply font-body;
		@apply text-base;
	}
}
