@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    font-family: Inter, ui-sans-serif, system-ui;
    @apply text-white-full;
  }

  h1 {
    @apply text-h1 font-h1;
  }
  h2 {
    @apply text-h2 font-h2;
  }
  h3 {
    @apply text-h3 font-h3;
  }
  h4 {
    @apply text-h4 font-h4;
  }
  h5 {
    @apply text-h5 font-h5;
  }
  h6 {
    @apply text-h6 font-h6;
  }
  .subtitle1 {
    @apply text-subtitle1 font-subtitle1;
  }
  .subtitle2 {
    @apply text-subtitle2 font-subtitle2;
  }
  .body1 {
    @apply text-body1 font-body1;
  }
  .body2 {
    @apply text-body2 font-body2;
  }
  button {
    @apply text-button font-button;
  }
  .caption {
    @apply text-caption font-caption;
  }
  .overline {
    @apply text-overline font-overline;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input:focus-visible {
    outline: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .token-item-list::-webkit-scrollbar {
    @apply border border-card rounded;
  }

  .token-item-list::-webkit-scrollbar-track-piece {
    @apply bg-card rounded;
  }

  .token-item-list::-webkit-scrollbar-thumb {
    @apply bg-cardInner rounded-md;
  }

  table {
    @apply table-auto border-collapse text-left;
  }

  thead > tr {
    @apply bg-card text-iconDefault;
  }

  thead > tr > th:first-child {
    @apply rounded-tl-2xl pl-8 pr-3 py-3;
  }

  thead > tr > th {
    @apply p-3 font-subtitle1;
  }

  thead > tr > th:last-child {
    @apply rounded-tr-2xl pl-3 pr-8 py-3;
  }

  tbody > tr > td:first-child {
    @apply pl-8 pr-3 py-3;
  }

  tbody > tr > td {
    @apply p-3;
  }

  tbody > tr > td:last-child {
    @apply pl-3 pr-8 py-2;
  }
}
