.s-tradebox-input {
	font-family: Poppins, ui-sans-serif, system-ui;
	font-size: 24px;
	font-weight: 600;
	text-align: right;
	::placeholder {
		text-align: right;
	}
}

.s-filter-white {
	filter: brightness(0%) invert(100%);
}

.s-number-input-default {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	&[type='number'] {
		-moz-appearance: textfield;
	}
}
