name: Frontend E2E tests Workflow

on:
  deployment_status:
  workflow_dispatch:

jobs:
  verify-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Verify App url and environment
        env:
          BASE_URL: ${{ github.event.deployment_status.environment_url }}
          DEPLOYMENT_STATUS_ENVIRONMENT: ${{ github.event.deployment_status.environment }}
          DEPLOYMENT_STATUS: ${{toJson(github.event.deployment_status)}}
        run: |
          echo "$BASE_URL"
          echo "$DEPLOYMENT_STATUS_ENVIRONMENT"
          echo "$DEPLOYMENT_STATUS"

  master-e2e-tests:
    needs: verify-environment
    if: github.event_name == 'deployment_status' && github.event.deployment_status.state == 'success' && github.event.deployment_status.environment == 'Production – osmosis-frontend'
    runs-on: macos-latest
    environment:
      name: prod_swap_test
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.OS }}-20.x-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-20.x-
      - name: Install Playwright
        run: |
          yarn --cwd packages/web install --frozen-lockfile && npx playwright install --with-deps chromium
      - name: Run Select Swap Pair tests on Master
        env:
          BASE_URL: "https://app.osmosis.zone"
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: |
          cd packages/web
          npx playwright test -g "Test Swap feature"
      - name: upload test results
        if: always()
        id: e2e-test-results
        uses: actions/upload-artifact@v4
        with:
          name: main-e2e-test-results
          path: packages/web/playwright-report
      - name: upload junit test results
        id: e2e-junit-results
        uses: actions/upload-artifact@v4
        with:
          name: main-e2e-junit-results
          path: packages/web/test-results/test-results.xml

  stage-e2e-tests:
    needs: verify-environment
    if: github.event_name == 'deployment_status' && github.event.deployment_status.state == 'success' && github.event.deployment_status.environment == 'Preview – osmosis-frontend'
    runs-on: macos-latest
    environment:
      name: prod_swap_test
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.OS }}-20.x-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-20.x-
      - name: Install Playwright
        run: |
          yarn --cwd packages/web install --frozen-lockfile && npx playwright install --with-deps chromium
      - name: Run Select Swap Pair tests on Stage
        env:
          BASE_URL: "https://stage.osmosis.zone"
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: |
          cd packages/web
          npx playwright test -g "Test Swap feature"
      - name: upload test results
        if: always()
        id: e2e-test-results
        uses: actions/upload-artifact@v4
        with:
          name: stage-e2e-test-results
          path: packages/web/playwright-report
