name: Preview frontend E2E tests

on:
  push:
    branches-ignore:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  wait-for-deployment:
    runs-on: ubuntu-latest
    outputs:
      environment_url: ${{steps.vercel.outputs.environment_url}}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - id: vercel
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_PROJECT: ${{ secrets.VERCEL_PROJECT }}
        run: |
          echo "$BRANCH_NAME"
          cd .github && python await_deployment.py
      - name: Echo GITHUB_OUTPUT environment_url
        env:
          environment_url: ${{ steps.vercel.outputs.environment_url }}
        run: echo "$environment_url"

  preview-swap-osmo-tests:
    timeout-minutes: 15
    runs-on: macos-14
    needs: wait-for-deployment
    outputs:
      unexpected: ${{ steps.set-output.outputs.unexpected }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            packages/e2e
      - name: print environment_url and BRANCH_NAME
        env:
          BASE_URL: "https://${{ needs.wait-for-deployment.outputs.environment_url }}"
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          echo "$BASE_URL"
          echo "$BRANCH_NAME"
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Install Playwright
        run: |
          echo "$GITHUB_OUTPUT"
          yarn --cwd packages/e2e install --frozen-lockfile && npx playwright install --with-deps chromium
      - name: Run Swap Pair tests
        env:
          BASE_URL: "https://${{ needs.wait-for-deployment.outputs.environment_url }}"
          PRIVATE_KEY: ${{ secrets.TEST_PRIVATE_KEY }}
          WALLET_ID: ${{ secrets.TEST_WALLET_ID }}
        run: |
          cd packages/e2e
          npx playwright test swap.osmo.wallet
      - name: set-output
        if: failure() || success()
        id: set-output
        run: |
          echo "unexpected=$(jq -r '.stats.unexpected' packages/e2e/playwright-report/test-results.json)"
          echo "unexpected=$(jq -r '.stats.unexpected' packages/e2e/playwright-report/test-results.json)" >> $GITHUB_OUTPUT
      - name: upload Swap test results
        if: failure() || success()
        id: swap-test-results
        uses: actions/upload-artifact@v4
        with:
          name: osmo-swap-test-results
          path: packages/e2e/playwright-report

  preview-swap-usdc-tests:
    timeout-minutes: 15
    runs-on: macos-14
    needs: [wait-for-deployment, preview-swap-osmo-tests]
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            packages/e2e
      - name: print environment_url and BRANCH_NAME
        env:
          BASE_URL: "https://${{ needs.wait-for-deployment.outputs.environment_url }}"
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          echo "$BASE_URL"
          echo "$BRANCH_NAME"
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.OS }}-22.x-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-22.x-
      - name: Install Playwright
        run: |
          echo "$GITHUB_OUTPUT"
          yarn --cwd packages/e2e install --frozen-lockfile && npx playwright install --with-deps chromium
      - name: Run Swap Pair tests
        env:
          BASE_URL: "https://${{ needs.wait-for-deployment.outputs.environment_url }}"
          PRIVATE_KEY: ${{ secrets.TEST_PRIVATE_KEY }}
          WALLET_ID: ${{ secrets.TEST_WALLET_ID }}
        run: |
          cd packages/e2e
          npx playwright test swap.usdc.wallet
      - name: upload Swap test results
        if: failure() || success()
        id: swap-test-results
        uses: actions/upload-artifact@v4
        with:
          name: usdc-swap-test-results
          path: packages/e2e/playwright-report

  preview-portfolio-trx-tests:
    timeout-minutes: 10
    needs: wait-for-deployment
    runs-on: macos-14
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            packages/e2e
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.OS }}-22.x-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-22.x-
      - name: Install Playwright
        run: |
          yarn --cwd packages/e2e install --frozen-lockfile && npx playwright install --with-deps chromium
      - name: Run Portfolio tests
        env:
          BASE_URL: "https://${{ needs.wait-for-deployment.outputs.environment_url }}"
          PRIVATE_KEY: ${{ secrets.TEST_PRIVATE_KEY }}
          WALLET_ID: ${{ secrets.TEST_WALLET_ID }}
        run: |
          cd packages/e2e
          npx playwright test portfolio transactions
      - name: upload Portfolio and transactions test results
        if: failure()
        id: portfolio-test-results
        uses: actions/upload-artifact@v4
        with:
          name: preview-portfolio-trx-test-results
          path: packages/e2e/playwright-report

  preview-pools-and-select-pair-tests:
    timeout-minutes: 10
    needs: wait-for-deployment
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            packages/e2e
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.OS }}-22.x-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-22.x-
      - name: Install Playwright
        run: |
          yarn --cwd packages/e2e install --frozen-lockfile && npx playwright install --with-deps chromium
      - name: Run Pools tests
        env:
          BASE_URL: "https://${{ needs.wait-for-deployment.outputs.environment_url }}"
        run: |
          cd packages/e2e
          npx playwright test pools select
      - name: upload pools test results
        if: failure()
        id: pools-test-results
        uses: actions/upload-artifact@v4
        with:
          name: preview-pools-test-results
          path: packages/e2e/playwright-report

  preview-trade-tests:
    timeout-minutes: 15
    runs-on: macos-14
    needs:
      [wait-for-deployment, preview-swap-osmo-tests, preview-swap-usdc-tests]
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            packages/e2e
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.OS }}-22.x-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-22.x-
      - name: Install Playwright
        run: |
          echo "$GITHUB_OUTPUT"
          yarn --cwd packages/e2e install --frozen-lockfile && npx playwright install --with-deps chromium
      - name: Run Swap Pair tests
        env:
          BASE_URL: "https://${{ needs.wait-for-deployment.outputs.environment_url }}"
          PRIVATE_KEY: ${{ secrets.TEST_PRIVATE_KEY }}
          WALLET_ID: ${{ secrets.TEST_WALLET_ID }}
        run: |
          cd packages/e2e
          npx playwright test trade
      - name: upload Trade test results
        if: failure()
        id: preview-trade-test-results
        uses: actions/upload-artifact@v4
        with:
          name: preview-trade-test-results
          path: packages/e2e/playwright-report

  preview-claim-tests:
    timeout-minutes: 10
    runs-on: macos-14
    needs: wait-for-deployment
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            packages/e2e
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.OS }}-22.x-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-22.x-
      - name: Install Playwright
        run: |
          echo "$GITHUB_OUTPUT"
          yarn --cwd packages/e2e install --frozen-lockfile && npx playwright install --with-deps chromium
      - name: Run Swap Pair tests
        env:
          BASE_URL: "https://${{ needs.wait-for-deployment.outputs.environment_url }}"
          PRIVATE_KEY: ${{ secrets.TEST_PRIVATE_KEY }}
          WALLET_ID: ${{ secrets.TEST_WALLET_ID }}
        run: |
          cd packages/e2e
          npx playwright test claim
      - name: upload Claim test results
        if: failure()
        id: claim-test-results
        uses: actions/upload-artifact@v4
        with:
          name: preview-claim-test-results
          path: packages/e2e/playwright-report
