name: Lint and Check Format Workflow

on: [push]

jobs:
  lint-workspace:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.OS }}-22.x-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-22.x-

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Lint workspace
        run: yarn lint:workspace

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
        package: ["web", "utils", "server", "stores", "pools", "math", "bridge"]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.OS }}-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-${{ matrix.node-version }}-

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Lint ${{ matrix.package }} package
        run: yarn lint --filter=@osmosis-labs/${{ matrix.package }}
